body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 200%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "Krona One", sans-serif;
  font-size: 5.625rem;
  line-height: 2;
}

h2 {
  font-family: "Krona One", sans-serif;
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-family: "Krona One", sans-serif;
}

p {
  line-height: 2;
  font-weight: bold;
}

a {
  color: white;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

hr {
  border: black;
  border-bottom: 0;
}

.top-container {
  background-color: #2b2e4a;
  position: relative;
  padding-top: 100px;
  color: #e84545;
}

.links {
  text-align: center;
}

.links i {
  font-size: 4rem;
  margin: 5px;
  padding: 10px;
}

.links i:hover {
  color: black;
}

.middle-container {
  background-color: #903749;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #161b4c;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  background-color: #e84545;
}

.skill-row {
  width: 50%;
  margin: 100px auto 20px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  background-color: #903749;
}

.bottom-container {
  background-color: #53354a;
  color: #e84545;
  padding: 10px;
}

.mountain {
  width: 40%;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 50px;
  width: 15%;
}

.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 300px;
  width: 15%;
}

.profile-pic {
  border-radius: 50%;
}

.computer {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.email-button {
  padding: 40px;
}

.contact-button {
  position: relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  color: #697082;
  background-color: white;
  text-decoration: none;
  font-size: 0.8em;
  border: 2px solid #697082;
  border-radius: 4px;
  padding: 20px 65px;
  transition: 0.3s ease-in-out;
}
.contact-button span {
  text-transform: none;
  position: absolute;
  color: white;
  top: 24px;
  left: 6px;
  opacity: 0;
  transition: all 0s ease 0s;
}

.contact-button:hover {
  transition: 0.3s ease-in-out;
  border: 2px solid #697082;
  background-color: #697082;
  color: #697082;
}
.contact-button:hover > span {
  opacity: 1;
  transition: all 0.25s ease-in-out 0.1s;
  font-size: 1.3rem;
}

.contact-button:before,
contact-button:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -12px;
  width: 132px;
  height: 25px;
}

.credit {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }

  .coding,
  .computer {
    float: none;
    width: 60%;
  }
}
